body {
	background-color:#0F0205;
	padding:15px;
	color:#BBCCDB;
}
fieldset{
	border-radius: 5px;
}

.editfield
{
	position:absolute;
	background-color:#01274C;
	border:1px white solid; 
	left:112px;
	width:625px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#A3BADB;
	z-index:1;
	border-radius: 5px;
}

.editDiv
{
	float:right;
}

#showPlainTextWindow
{
	position:absolute;
	z-index: 50;
	width:300px;
	background-color:#003366;
	border: 1px solid white;
}
#showPlainTextField
{
	width:400px;
	height:400px;
}
#errorOutputDelete
{
	float:right;
}

#TitleSeite
{
	position:absolute;
	top:0px;
	left:90px;
}
#choice
{
	top:0px;
	height:60px;
}

#settings
{
	top:0px;
	left:755px;
	width:455px;
	height:220px;
}

#TitleNavigation
{
	position:absolute;
	top:80px;
	left:90px;
	z-index: 30;
}

.paragraphTitle
{
	font-size:14px;
	color:#BBCCDB;
}
#meta
{
	top:80px;
	height:140px;
}

#contentCreate
{
	margin:5px;
}

#TitleInhalt
{
	position:absolute;
	top:240px;
	left:90px;
}
#contentHolder
{
	top:240px;
	width:1100px;
}

#outputDiv
{
	top:0px;
	left:755px;
	height:98%;
	overflow:auto;
	visibility:hidden;
}

.adminParaTitle
{
	font-weight:bold;
	color:white;
}

#errorOutput
{
	color:#FF0000;
}

.deleteButton
{
	border:1px solid red;
}

.LeftGroupBox
{
	border: 1px solid #444;
	position:absolute; 
	left:0px;
	top:5px; 
	width:380px;
}
.RightGroupBox
{
	border: 1px solid #444;
	position:absolute; 
	left:410px;
	top:5px; 
	width:200px;
}

.shortControl
{
	width:20px;
}
.fullSizeControl
{
	width:120px;
}

.controlDiv
{
	border: 1px solid white;
	padding: 5px;
}

.listBox
{
	font-size:12px;
	border:1px solid white;
	overflow:auto;
	float:left;
}

.listboxRow
{
	width:auto;
}
.listboxRowHover
{
	background-color:#07B;
}
.listboxRowSelected
{
	background-color:#09F;
}
/**************************************************/
#creationBg 
{
	position:absolute;
	top:0px;
	left:0px;
	width:2000px;
	height:2000px;
	background-color:black;
	z-index:19;
	opacity:0.7;
}
.creationBox
{
	position:absolute;
	z-index:20;
	background-color:gray;
}
.creationLabel
{
	width:150px;
}
.creationControl
{
	left:100px;
}
.helpIcon
{
	vertical-align:bottom;
	width:25px;
	height:25px;
}

#picUrl_edit
{
	width:80px;
}

.picBrowseHolder
{
	border:1px solid gray;
}

#folderBrowser
{
	position:absolute;
	z-index:50;
	background-color:white;
	border:1px solid black;
}
#folderBrowserPicHolder
{
	width:670px;
	height:600px;
	background-color:white;
	overflow:scroll;
}
#closeBar
{
	background-color:gray;
	width:100%;
	height:20px;
	text-align:right;
}

.folderBrowsePic
{
	width:120px;
	margin:2px;
	padding:2px;
	border:1px solid black;
}

.uploadTarget
{
	width:120px;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#A3BADB;
}

.paraCollapseTable
{
}

/*overrides*/
.adminTableDiv
{
	overflow:hidden;
	border:1px solid gray;
	padding: 5px;
}
.adminTable
{
	border-spacing:0px;
	clear:both;
	padding:2px;
}	
.adminTableTd
{
	border:1px solid gray;
}
.title_row
{
	color:white;
}
.adminParagraph
{
	left:10px;
	border:1px solid #444;
	width:1080px;
	overflow:auto;
}

#content_edit
{
	width:500px;
	height:300px;
}