body {
	background-color:#0F0205;
	padding:15px;
}

.editfield
{
	position:absolute;
	background-color:#01274C;
	border:1px white solid; 
	left:112px;
	width:625px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#A3BADB;
	z-index:1;
}

.editDiv
{
	float:right;
}

#choice
{
	top:0px;
	height:60px;
}

#meta
{
	top:80px;
	height:140px;
}

#contentCreate
{
	margin:5px;
	height:20px;
}

#contentHolder
{
	top:240px;
}

#outputDiv
{
	top:0px;
	left:755px;
	height:98%;
	overflow:auto;
	visibility:hidden;
}

.deleteButton
{
	border:1px solid red;
	width:60px;
}
.editButton
{
	width:60px;
}

.LeftGroupBox
{
	border: 1px solid #444;
	position:absolute; 
	left:0px;
	top:5px; 
	width:380px;
}
.RightGroupBox
{
	border: 1px solid #444;
	position:absolute; 
	left:410px;
	top:5px; 
	width:200px;
}

.shortControl
{
	width:20px;
}
.fullSizeControl
{
	width:140px;
}

.controlDiv
{
	border: 1px solid white;
	padding: 5px;
}

.listBox
{
	font-size:12px;
	border:1px solid white;
	overflow:auto;
}

.listboxRow
{
	width:auto;
}
.listboxRowHover
{
	background-color:#07B;
}
.listboxRowSelected
{
	background-color:#09F;
}
/**************************************************/
#creationBg 
{
	position:absolute;
	top:0px;
	left:0px;
	width:2000px;
	height:2000px;
	background-color:black;
	z-index:19;
	opacity:0.7;
}
.creationBox
{
	position:absolute;
	z-index:20;
	background-color:gray;
}
.creationLabel
{
	width:150px;
}
.creationControl
{
	left:100px;
}
.helpIcon
{
	vertical-align:bottom;
	width:25px;
	height:25px;
}

#picUrl_edit
{
	width:80px;
}

.picBrowseHolder
{
	border:1px solid gray;
}

#folderBrowser
{
	position:absolute;
	z-index:50;
	background-color:white;
	border:1px solid black;
	width:300px;
	height:300px;
	overflow:scroll;
}

.folderBrowsePic
{
	width:80px;
	margin:2px;
	padding:2px;
	border:1px solid black;
}

#closeBar
{
	background-color:gray;
}

.uploadTarget
{
	width:120px;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#A3BADB;
}

/*overrides*/
.adminTableDiv
{
	overflow:visible;
	width:600px;
}
.adminTable
{
	width:700px;
	border-spacing:0px;
	padding:2px;
}	
.adminTableTd
{
	border:1px solid gray;
}
.adminParagraph
{
	left:10px;
	border:1px solid #444;
	width:600px;
	overflow:auto;
}

#content_edit
{
	width:500px;
	height:300px;
}