/*
** Fonts
*/
@font-face {
	font-family: brush_font;
	src: url("/images/layout/REPOT___.eot");
}
@font-face {
	font-family: brush_font;
	src: url("/images/layout/REPOT___.TTF");
}

/*
** Main tags
*/
body {
	background-color:#0F0205;
	padding:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#BBCCDB;
}

#loadingErrors
{
	visibility:hidden;
}

/*
** Main divs
*/

#menuLeft{
	position:absolute;
	top:23px;
	left:10px;
	z-index:3;
	font-size:20px;
}
.mainNaviEntry
{
	height:30px;
	width:125px;
	font-family:brush_font;
	background:url('/images/layout/Navi.png') no-repeat;
	padding-left:10px;
	padding-top:15px;
}

#menu
{
	position:absolute;
	top:25px;
	left:0px;
	width:130px;
}

#header
{
	position:absolute;
	top:0px;
	left:112px;
	width:690px;
	height:200px;
	z-index:2;
}

#contentBGBorder
{
	position:absolute;
	background-color:#730B24;
	top:202px;
	left:112px;
	width:696px;
	overflow:hidden;
	z-index:3; 
}
#contentBG
{
	background-color:#01274C;
	width:690px;
	overflow:hidden;
	z-index:4; 
}

#content
{
	margin-left:60px;
	margin-top:5px;
	min-height: 300px;
	background: url(/images/randomPic.php?prefix=layout/contentBG) no-repeat fixed 500px center;
}

#advertRight
{
	position:absolute;
	top:10px;
	left:825px;
	border:1px solid #01274C;
	padding: 5px;
}

#articleframe
{
	border:none;
	width:625px;
	height:1000px;
}

#articleTitle
{
	position:absolute;
	left: 270px;
	width:500px;
	text-align:right;
	top:163px;
	z-index:10;
	color:white;
	font-family:brush_font;
	font-size:35px;
}

.paragraph
{
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top: 30px;
}
.paragraphContent
{
	overflow:auto;
}
.paragraphTitle
{
	text-align:left;
	padding-top:0px;
	height:55px;
	color:#075AAC;
	font-size:35px;
	margin:0px;
	width:630px;
	right:0px;
}

.paragraphTitleUpLink
{
	float:right;
	font-size:18px;
	padding:3px;
	vertical-align:top;
}

#closeBar
{
	top:0px;
}

.paragraphTitleUpLink:before { content:url("/images/layout/brush_arrow.png"); }

.paragraphTitleText
{
	font-family:brush_font;
	background:url('/images/layout/ArticleHeader.png') no-repeat right center;
}

.paragraphDeko
{
	background:url(/images/randomPic.php?prefix=layout/paraDeko) no-repeat center top;
}

.paraContentImage
{
	max-width:200px;
}

.picFrame
{
	border:thin #075AAC solid;
	background-color:#073869;
	padding:3px;
	font-size:12px;
}
.picFrameLeft
{
	clear:both;
	float:left;
	margin-right:30px;		
	margin-top:20px;	
	margin-bottom:20px;
}

.picFrameRight
{
	clear:both;
	float:right;
	margin-left:20px;
}

/*
a:visited{
	color:#5FBFCF;
}
*/
a{
	color:#71A1D1;
	text-decoration:none;
}
a:link{
}
a:hover{
	color:white;
}

#contentLeftOverlap
{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#003366;
	width:55px;
	height:200px;
	z-index:5;
}
#Deco01
{
	position:absolute;
	left:550px;
	top:115px;
	z-index:5;
}

/*
** Navi
*/

#secNavi01
{
	-moz-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	top:10px;
}
#secNavi02
{
	-moz-transform: rotate(-5deg); 
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
	top:40px;
}
#secNavi03
{
	top:70px;
}
#secNavi04
{
	-moz-transform: rotate(3deg); 
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	top:100px;
}
#secNavi05
{
	-moz-transform: rotate(6deg); 
	-webkit-transform: rotate(6deg);
	transform: rotate(6deg);
	top:130px;
}
#secNavi06
{
	-moz-transform: rotate(8deg); 
	-webkit-transform: rotate(8deg);
	transform: rotate(8deg);
	top:160px;
}
#secNavi07
{
	-moz-transform: rotate(10deg); 
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	top:190px;
}
#secNavi08
{
	-moz-transform: rotate(12deg); 
	-webkit-transform: rotate(12deg);
	transform: rotate(12deg);
	top:220px;
}
#secNavi09
{
	-moz-transform: rotate(14deg); 
	-webkit-transform: rotate(14deg);
	transform: rotate(14deg);
	top:250px;
}
#secNavi10
{
	-moz-transform: rotate(16deg); 
	-webkit-transform: rotate(16deg);
	transform: rotate(16deg);
	top:280px;
}

.secNavi
{
	position:absolute;
	left:180px;
/*	background:#075AAC url("/images/layout/Elements_20.png") no-repeat fixed left top;*/	
	padding-top:8px;
	padding-left:12px;
	width:200px;
	height:35px;
	z-index:10;
	overflow:visible;
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background:url(/images/randomPic.php?prefix=layout/RandRect) no-repeat;
}

/*
** Table formatting
*/


.contentTable
{
/*	border:1px solid black; */
	width:625px;
}
.tableCellFontFancy
{
	font-family:brush_font;
}
.tableCellFontNormal
{
	z-index:10;
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.eventDate
{
	font-size:16px;
	font-family:brush_font;
	background:url('/images/layout/Elements_09.png') no-repeat;
	overflow:visible;
	width:65px;
	vertical-align:top;
	padding: 0px;
	padding-left: 2px;
}

.eventUrl
{
	font-size:16px;
	font-family:brush_font;
	overflow:visible;
	width:50px;
	text-align:center;
	border:1px solid #71A1D1;
	padding: 0px;
	margin: 3px;
	float:right;
}
.eventMail
{
	font-size:16px;
	font-family:brush_font;
	overflow:visible;
	width:44px;
	text-align:center;
	border:1px solid #71A1D1;
	padding: 2px;
	margin: 3px;
	clear:both;
	float:right;
}
.eventTel
{
	text-align:center;
	border:1px solid #71A1D1;
	padding: 2px;
	margin: 3px;
	clear:both;
	float:right;
}
.eventType
{
	vertical-align:top;
}
.extendable
{
	overflow:hidden;
}
.eventTitle
{
	font-size:15px;
	width:300px;
	padding-top:5px;
}
.tableData
{
}
.eventVenue
{
	width: 173px;
}
.eventShowMore
{
	font-size:15px;
	width: 60px;
}

.eventPicTd
{
	border:1px solid #073869;
}
.eventPic
{
	width:80px;
	float:left;
}
.eventMisc
{
	vertical-align: top;
}
.tableTonedBG
{
	background-color:#073869;
}

.orderPersonTable
{
	border:none;
}
.orderPersonTableData
{
	border:2px solid #BBCCDB;
}
/*
** classes
*/

.redbordered{
	border-right:6px #730B24 solid;
}

.errorText
{
	color:#FF0000;
}

.hiddenFormButton
{
	border:0px;
	background-color:#01274C;
	color:#71A1D1;
}

/*
 *  Mitarbeiter sites
 */

#teamPageContent
{
	background-color:#003366;
	padding:10px;
}

#teamPageContent img
{
	float:right;
}

#teamPageTitle
{
	text-align:left;
	font-family:brush_font;
	font-size:35px;
}

