body {
	background-color:#0F0205;
	padding:15px;
}

.editfield
{
	position:absolute;
	background-color:#01274C;
	left:112px;
	width:625px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#A3BADB;
	z-index:1;
}

#choice
{
	top:0px;
	height:20px;
}

#meta
{
	top:60px;
	height:130px;
}

#content
{
	top:200px;
}

#outputDiv
{
	top:500px;
	height:300px;
}
