body {
	background-color:#0F0205;
	padding:15px;
}

.editfield
{
	position:absolute;
	background-color:#01274C;
	border:1px white solid; 
	left:112px;
	width:625px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#A3BADB;
	z-index:1;
}

#choice
{
	top:0px;
	height:60px;
}

#meta
{
	top:80px;
	height:140px;
}

#contentCreate
{
	top:240px;
	height:20px;
}

#admincontent
{
	top:280px;
}

#outputDiv
{
	top:0px;
	left:755px;
	height:98%;
	overflow:auto;
}

.deleteButton
{
	border:1px solid red;
}

.LeftGroupBox
{
	position:absolute; 
	left:0px;
	top:5px; 
	width:310px;
}
.RightGroupBox
{
	position:absolute; 
	left:340px;
	top:5px; 
	width:270px;
}

.fullSizeControl
{
	width:150px;
}

.listBox
{
	font-size:12px;
	border:1px solid white;
	overflow:auto;
}

.listboxRow
{
	width:auto;
}
.listboxRowHover
{
	background-color:#07B;
}
.listboxRowSelected
{
	background-color:#09F;
}
/**************************************************/
#creationBg 
{
	position:absolute;
	top:0px;
	left:0px;
	width:2000px;
	height:2000px;
	background-color:black;
	z-index:19;
	opacity:0.7;
}
.creationBox
{
	position:absolute;
	z-index:20;
	background-color:gray;
}
.creationLabel
{
	width:150px;
}
.creationControl
{
	left:100px;
}
.helpIcon
{
	width:20px;
	height:20px;
}


/*overrides*/

.paragraph
{
	left:10px;
	border:1px solid white;
	width:600px;
}