<?xml version="1.0" encoding="UTF-8"?>
<table name="events">
	<row>
		<data class="eventDate tableCellFontFancy" rowspan="3" type="date">date</data>
		<data class="eventPicTd tableCellFontFancy" rowspan="3" type="pic">pic</data>
		<data class="eventTitle tableCellFontNormal" type="string">title</data>
		<data class="eventLocation tableCellFontNormal" type="string">location</data>
		<data class="eventShowMore tableCellFontFancy" type="empty"></data>
	</row>
	<row>
		<data class="eventArtists tableCellFontNormal" type="string" colspan="3">artists</data>
	</row>
	<row class="tableTonedBG">
		<data class="eventMisc" type="date" colspan="3">
			<div class="extendable">
				<div class="eventUrl tableCellFontNormal" type="url">url</div>
				<div class="eventMail tableCellFontNormal" type="mail">mail</div>
				<div class="eventTel tableCellFontNormal" type="tel">tel</div>
				<div class="eventDescription tableCellFontNormal" type="string">description</div>
				<div class="eventVenue tableCellFontNormal" type="geo">venue</div>
				<div class="eventTime tableCellFontNormal" type="time">time</div>
				<div class="eventMisc tableCellFontNormal" type="string">misc</div>
			</div>
		</data>
	</row>
</table>